
<img ng-class="{thumbnailImg: type == 'thumbnail', carouselImg: type =='carousel'}"
         src="https://space-burgers.herokuapp.com{{burger.image}}" alt="...">

    <div ng-class="{caption: type == 'thumbnail', 'carousel-caption': type =='carousel'}">
        <h3>{{burger.name}} <span ng-show="burger.vegetarian" class="small"> Veggie safe</span></h3>
        <p>{{burger.notes}}</p>

        <div ng-class ="{bottom: type == 'thumbnail'}">
        <p>
            <h4> BTC:{{burger.bitcoin}} </h4>
            <br/>
            <a href="#" class="btn btn-primary" ng-click="buyBurger(burger.id, burger.bitcoin)" role="button">Eat it!</a>
        </p>
        </div>
    </div>