
<div class="row">
    <div ng-repeat="burger in burgerList" class="col-sm-6 col-md-4">

        <div class="thumbnail">
            <img src="https://space-burgers.herokuapp.com{{burger.image}}" alt="...">
            <div class="caption">
                <h3>{{burger.name}} <span ng-show="burger.promoted" class="small"> Today's Special!</span></h3>
                <p>{{burger.notes}}</p>
                <p>Vegetarian: {{burger.vegetarian}}</p>
                <p> BTC:{{burger.bitcoin}} <a href="#" class="btn btn-primary" role="button">Button</a></p>
            </div>
        </div>
    </div>
</div>
