
<h3></h3>

<div id="this-carousel-id" class="carousel slide"><!-- class of slide for animation -->
    <div class="carousel-inner">

        <div ng-repeat="burger in specials"
             ng-class="{item : true, active: $first} "><!-- class of active since it's the first item -->
            <img style="width:700; height:450;" src="https://space-burgers.herokuapp.com/{{burger.image}}" />
            <div class="carousel-caption">
                <h3>{{burger.name}} <span ng-show="burger.vegetarian" class="small"> Vegie safe</span></h3>
                <p>{{burger.notes}}</p>
                <h4> BTC:{{burger.bitcoin}}</h4>
                <p><a href="#" class="btn btn-primary" role="button">Eat it!</a></p>
            </div>
        </div>

    </div><!-- /.carousel-inner -->
    <a class="carousel-control left" href="#this-carousel-id" data-slide="prev">&lsaquo;</a>
    <a class="carousel-control right" href="#this-carousel-id" data-slide="next">&rsaquo;</a>
</div><!-- /.carousel -->
